body {
  min-height: 100%;
  margin-bottom: 200px;
}

p {
  font-weight: 500;
  letter-spacing: 0.12rem;
  font-size: 16px;
  text-align: center;
}

.black {
  color: black;
}

/* black id is used to override the bootstrap css in the navbar */
#black {
  color: black;
}

.highlight {
  background: #fbf167;
}

.info {
  padding-top: 20px;
  text-align: center;
}
.navbar,
.heading h1,
.info h2,
label,
button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  font-size: 20px;
  padding-bottom: 8px;
  text-align: center;
  padding-top: 8px;
  margin-top: 20px;
}

/* nav bar */

.navbar-nav li {
  padding: 0.7rem;
}

/* portfolio specifiers */

.card-body h2 {
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
}

/* contact.html specifiers */

input,
textarea {
  font-weight: 500;
  letter-spacing: 0.12rem;
  font-size: 12px;
}

.btn-light {
  background: #fbf167;
}

.btn-light:hover {
  background: white;
}

/* index.html specifiers */

.about-me {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 15;
}

.carousel-slide {
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: auto;
}

/* footer */

.copyright {
  bottom: 3%;
}

.footer {
  z-index: 15;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: white;
}