/* nav bar */

.navbar,  
.container-fluid h1,
.container-fluid h2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 16px;
}

p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 12px;
}

.navbar-nav li {
  padding: .7rem;
}

.carousel-slide {
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.about-me {
  position: absolute;
  top: 0;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.3);
}

.copyright {
  position: absolute;
  bottom: 3%;
}

.footer {
  z-index: 1;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: black;
}