p {
  font-weight: 500;
  letter-spacing: .2rem;
  font-size: 14px;
  text-align: center;
}


.current {
  color: black!important;
}

/* nav bar */

.navbar, 
.heading h1,
.info h2,
label,
button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .2rem;
  font-size: 18px;
  padding-bottom: 8px;
  text-align: center;
  padding-top: 8px;
  margin-top: 20px;
}

.navbar-nav li {
  padding: .7rem;
}

/* portfolio specifiers */

.card-img {
  padding: 5%;
}

.card-body h2 {
  font-family: 'Permanent Marker', cursive;
}

/* contact.html specifiers */

input,
textarea {
  font-weight: 500;
  letter-spacing: .2rem;
  font-size: 12px;
}

.btn-light {
  background: #fbf8e5!important;
}

.btn-light:hover {
  background: white!important;
}

/* index.html specifiers */

.about-me {
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 15;
}

.carousel-slide {
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: auto;
}

.info {
  padding-top: 20px;
  padding-bottom: 12%;
  text-align: center;
}

.info a {
  color: black;
}

/* footer */

.copyright {
  bottom: 3%;
}

.footer {
  z-index: 15;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background-color: white;
}
